<!DOCTYPE html>
<html>
  <head>
    <title>DogCatPredictor</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", "data-turbolinks-track" => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
